div.jumbotron{
  height:0px;
  color:white;
  text-shadow:#444 0 1px 1px;
  background:transparent;
  
}

body{
  background: url("https://www.xmple.com/wallpaper/blue-gradient-white-linear-1920x1080-c2-87cefa-ffffff-a-105-f-14.svg") no-repeat center center fixed;
  background-size: cover;
}

.body {
 font-family: 'Helvetica';font-size: 22px;
}


.row img {
  width: 70%;
  height: 70%;
}


h1,
.navbar-brand,

.navbar-nav a {
  font-family: 'Helvetica', serif;
}

body {
  background-color: #e6ffcc !important;
}



.carousel-inner {
  height: 400px;
  margin: auto;

}
.carousel-inner img {
  height: 100%;
  width: 100%;
}

.content {
  background-color: white;
}

.top-buffer {
  margin-top:20px;
}
